<%= simple_form_for(@car) do |f| %>
  <div>
    <%= f.input :color %>
  </div>
  <div>
    <%= f.input :address %>
  </div>
  <div>
    <%= f.input :price, as: :float %>
  </div>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Update", class:"card-button" %>
<% end %>
