<%= simple_form_for(@car) do |f| %>
  <div>
    <%= f.input :car_model %>
  </div>
  <div>
    <%= f.input :color %>
  </div>
  <div>
    <%= f.input :address %>
  </div>
    <%= f.input :price, as: :float %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create",class: "card-button" %>
<% end %>
