<ul>
  <% @cars.each do |car| %>
    <li>Car: <%= car.car_model %></li>
    <li>Color: <%= car.color %></li>
    <li>Created By <%= car.user.first_name %></li>
    <li><%= link_to "Check the car out", car_path(car)%></li>
    <br>
  <% end %>
</ul>

<%= link_to "Add a new car", new_car_path, class: "btn btn-primary" %>
